<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>380</string>
	<key>CFBundleShortVersionString</key>
	<string>5.7.0</string>
	<key>Stores</key>
	<dict>
		<key>SibApp</key>
		<string>new.snapp.passenger.sparks.sibapp</string>
		<key>Anardoni</key>
		<string>new.snapp.passenger.anardoni</string>
		<key>SibIrani</key>
		<string>new.snapp.passenger.sibirani</string>
		<key>SibBank</key>
		<string>new.snapp.passenger.sibbank</string>
		<key>Sibche</key>
		<string>new.snapp.passenger.sparks.sibche</string>
		<key>iApps</key>
		<string>new.snapp.passenger.iapps.adhoc</string>
	</dict>
</dict>
</plist>
